<div class="container mt-4">
  <div class="row">
    <!-- Primer Sección -->
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Qué utilidades tiene Perifinder?</h1>
        <p class="lead">
          Perifinder es una aplicación web que ofrece varias herramientas. Permite comparar características entre varios componentes del mismo tipo y también crear un presupuesto (excluyendo la carcasa) para armar un ordenador.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/Perifinder Logo Transp.png" class="img-fluid" alt="Imagen de Perifinder" />
    </div>
  </div>

  <!-- Segunda Sección -->
  <div class="row mt-4">
    <div class="col-md-6">
      <img src="../../../assets/Perifinder Logo Transp.png" class="img-fluid" alt="Imagen de Perifinder" />
    </div>
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Cómo se utiliza el Comparador?</h1>
        <p class="lead">
          Para utilizar el comparador, selecciona un componente en uno de los dos buscadores disponibles. La selección cambiará la estructura del buscador. El otro buscador te mostrará opciones disponibles según el componente seleccionado. La comparación se muestra como un modelo Versus con marcas favorables (verde) y desfavorables (rojo). Además, al final se realizará un cálculo de los componentes seleccionados y te mostrará el componente con las mejores características.
        </p>
      </div>
    </div>
  </div>

  <!-- Tercera Sección -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Cómo se utiliza el Budget Maker?</h1>
        <p class="lead">
          Para utilizar el Budget Maker, simplemente incluye los componentes que deseas añadir en la lista. Junto a cada componente en la lista, verás el precio. A medida que agregues componentes, verás el precio total justo debajo de la imagen. 
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/Perifinder Logo Transp.png" class="img-fluid" alt="Imagen de Perifinder" />
    </div>
  </div>
</div>

