<div class="container mt-4">
  <div class="row">
    <!-- Primer Sección -->
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Qué utilidades tiene Perifinder?</h1>
        <p class="lead">
          Perifinder es una aplicación web que ofrece varias herramientas.
          Permite comparar características entre varios componentes del mismo
          tipo y también crear un presupuesto (excluyendo la carcasa) para armar
          un ordenador.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/Perifinder Logo Transp.png"
        class="img-fluid"
        alt="Imagen de Perifinder"
      />
    </div>
  </div>

  <!-- Segunda Sección -->
  <div class="row mt-4">
    <div class="col-md-6">
      <img
        src="../../../assets/Explicación Comparador.PNG"
        class="img-fluid"
        alt="Imagen de Perifinder"
      />
    </div>
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Cómo se utiliza el Comparador?</h1>
        <p class="lead">
          Para utilizar el comparador, selecciona un componente dentro del
          selector(la barrita) y debes de seleccionar el tipo de componente que
          quieres comparar, cuando lo selecciones, te abrirá un menún en las
          cuales tienes el listado de componentes, dale click al primer
          componente y al segundo a comparar,al seleccionar los componentes la info te aparecerá a a la derecha del listado y verás que el componente
          "Superior" será el que tiene el nombre en verde.
          OJO:si cambias de tipo, o le das a "Ninguna", se eliminarán las dos tablas
        </p>
      </div>
    </div>
  </div>

  <!-- Tercera Sección -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="DivSeparator">
        <h1 class="text-left">¿Cómo se utiliza el Budget Maker?</h1>
        <p class="lead">
          Para utilizar el Budget Maker, simplemente incluye los componentes que
          deseas añadir en la lista. Junto a cada componente en la lista, verás
          el precio. A medida que agregues componentes, verás el precio total
          justo debajo de la lista de selección,El botón rojo es para borrar las selecciones realizadas,
          Y te permitirá realizar el presupuesto de cero
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/Explicación BudgetMaker.PNG"
        class="img-fluid"
        alt="Imagen de Perifinder"
      />
    </div>
  </div>
</div>
