<div class="container">
  <h1 class="text-center legend">Leyenda</h1>

  <div class="row mt-3">
    <div class="col-12">
      <section>
        <h2 class="mt-3">
          <img
            src="https://static.vecteezy.com/system/resources/previews/028/051/896/original/gpu-graphic-card-in-white-or-invisible-background-png.png"
            alt="GPU"
            class="component-image"
          />Tarjeta gráfica (GPU)
          <button
            class="custom-button btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#gpuCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Tarjeta gráfica (GPU)"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="gpuCollapse">
          <p>
            Una tarjeta gráfica (GPU) es un componente esencial en un sistema
            informático dedicado al procesamiento y renderizado de gráficos.
            Aquí se detallan sus principales atributos y los beneficios
            asociados a cada característica:
          </p>
          <ul>
            <li>
              <strong>Modelo de GPU:</strong>
              Determina el rendimiento gráfico y las capacidades de la tarjeta.
              - Modelos más recientes ofrecen mejores capacidades gráficas y
              eficiencia energética.
            </li>
            <li>
              <strong>VRAM (Memoria de Acceso Aleatorio para Video):</strong>
              Almacena datos temporales para procesar gráficos y texturas. - Más
              VRAM permite manejar texturas de alta resolución y cargar más
              datos gráficos simultáneamente.
            </li>
            <li>
              <strong>Núcleos de Procesamiento:</strong>
              Afecta la capacidad de procesamiento de la tarjeta. - Más núcleos
              permiten procesar gráficos más complejos y ejecutar tareas
              paralelas más eficientemente(en este caso son los CUDA Cores, los sombreadores de la GPU).
            </li>
            <li>
              <strong>Frecuencia de Reloj (están en GHz):</strong>
              Velocidad a la que la GPU procesa instrucciones. - Una frecuencia
              más alta aumenta el rendimiento gráfico.
            </li>
            <li>
              <strong>Ancho de Banda de Memoria:</strong>
              Velocidad de transferencia de datos entre la GPU y la VRAM. - Un
              ancho de banda más alto mejora el rendimiento al mover grandes
              cantidades de datos.
            </li>
            <li>
              <strong>Interfaz de Memoria:</strong>
              Especifica la tecnología utilizada para la conexión entre la GPU y
              la VRAM. - Interfaces más modernas ofrecen mejor rendimiento y
              eficiencia energética.
            </li>
            <li>
              <strong>Consumo de Energía:</strong>
              La cantidad de energía requerida por la GPU. - GPUs eficientes
              energéticamente consumen menos energía y generan menos calor.
            </li>
            <li>
              <strong>Compatibilidad con Tecnologías Específicas:</strong>
              Soporte para características avanzadas (por ejemplo, Ray Tracing,
              DLSS). - Mayor compatibilidad permite disfrutar de experiencias
              visuales y de rendimiento mejoradas.
            </li>
            <li>
              <strong>Tamaño y Tipo de Refrigeración:</strong>
              Determina la eficiencia del sistema de refrigeración. - Sistemas
              de refrigeración eficientes permiten un rendimiento más estable y
              silencioso.
            </li>
            <li>
              <strong>Tecnología de Fabricación:</strong>
              Define el proceso utilizado para construir la GPU, afectando su
              eficiencia energética y rendimiento. Las tecnologías más
              avanzadas, como el proceso de fabricación en 7 nanómetros (nm),
              permiten integrar más transistores en un espacio más pequeño, lo
              que resulta en GPUs más potentes y eficientes energéticamente. Los
              procesos de fabricación más avanzados suelen estar asociados con
              GPUs más modernas y eficientes.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="mt-3">
          <img
            src="https://lh4.googleusercontent.com/proxy/XLanhRy9Ge82_wXPi7OTMM-ho1US89ikEigj_qtE4FzUMqdDX202mf07pw7xIymBr_cdIT7GNC0LUA-YtdsqvPcNSa9LSVEmkR9TWNY"
            alt="CPU"
            class="component-image"
          />Procesador (CPU)
          <button
            class="btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#cpuCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Procesador (CPU)"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="cpuCollapse">
          <p>
            El procesador (CPU) es uno de los componentes más importantes en un
            sistema informático. A continuación, se detallan sus principales
            atributos y los beneficios asociados a cada característica:
          </p>
          <ul>
            <li>
              <strong>Modelo de CPU:</strong>
              Especifica la serie y modelo del procesador. - Modelos más
              recientes ofrecen mejor rendimiento y eficiencia energética.
            </li>
            <li>
              <strong>Número de Núcleos y Hilos:</strong>
              Define la cantidad de núcleos físicos y virtuales. - Más núcleos y
              hilos permiten ejecutar más tareas simultáneamente.
            </li>
            <li>
              <strong>Frecuencia de Reloj (están en GHz):</strong>
              Velocidad a la que la CPU procesa instrucciones. - Una frecuencia
              más alta mejora el rendimiento en tareas de un solo hilo.
            </li>
            <li>
              <strong>Caché L3:</strong>
              Almacena datos temporalmente para acelerar el acceso a la memoria.
              - Más caché L3 mejora el rendimiento en tareas que requieren
              acceso frecuente a datos.
            </li>
            <li>
              <strong>Tecnología de Fabricación:</strong>
              Especifica el tamaño del proceso de fabricación. - Tecnologías de
              fabricación más avanzadas ofrecen mejor eficiencia energética y
              rendimiento.
            </li>
            <li>
              <strong>Consumo de Energía:</strong>
              La cantidad de energía requerida por la CPU. - CPUs eficientes
              energéticamente consumen menos energía y generan menos calor.
            </li>
            <li>
              <strong>Soporte para Instrucciones Específicas:</strong>
              Soporte para extensiones como SSE, AVX, etc. - Mayor soporte
              permite ejecutar aplicaciones optimizadas y mejorar el
              rendimiento.
            </li>
            <li>
              <strong>Compatibilidad con Plataformas y Chipsets:</strong>
              Define las plataformas y chipsets compatibles. - Una mayor
              compatibilidad garantiza una integración fluida con otros
              componentes del sistema.
            </li>
            <li>
              <strong>Integración Gráfica (iGPU):</strong>
              Presencia de gráficos integrados en la CPU. - Las CPUs con iGPU
              ofrecen capacidades gráficas básicas sin necesidad de una tarjeta
              gráfica dedicada.
            </li>
            <li>
              <strong>Actualizabilidad:</strong>
              La capacidad de actualizar el procesador en el futuro. -
              Plataformas más recientes suelen ofrecer mejor escalabilidad y
              opciones de actualización.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="mt-3">
          <img
            src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/btg/tech.batanga.com/files/Porque-es-importante-la-memoria-RAM-2.jpg"
            alt="RAM"
            class="component-image"
          />
          Memoria RAM
          <button
            class="btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#ramCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Memoria RAM"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="ramCollapse">
          <p>
            La memoria RAM (Random Access Memory) es esencial para el
            rendimiento del sistema. Aquí están algunos detalles importantes
            sobre la memoria RAM:
          </p>
          <ul>
            <li>
              <strong>Capacidad:</strong> La cantidad de datos que puede
              almacenar la RAM. Más capacidad permite ejecutar más programas
              simultáneamente y manejar tareas más grandes.
            </li>
            <li>
              <strong>V elocidad de Reloj (Clock Speed):</strong> La velocidad a
              la que la RAM puede acceder y procesar datos. Una mayor velocidad
              mejora el rendimiento general del sistema.
            </li>
            <li>
              <strong>Latencia:</strong> El tiempo que tarda la RAM en responder
              a las solicitudes de datos. Una latencia más baja significa un
              mejor rendimiento, pero puede ser más costosa.
            </li>
            <li>
              <strong>Tipo de Memoria:</strong> Especifica la generación y el
              tipo de la RAM (por ejemplo, DDR4). Diferentes tipos tienen
              diferentes velocidades y características.
            </li>
            <li>
              <strong
                >Canal Dual / Cuádruple (Dual Channel / Quad Channel):</strong
              >
              La capacidad de la RAM para acceder a múltiples canales de datos
              simultáneamente, mejorando el rendimiento en sistemas compatibles.
            </li>
            <li>
              <strong>Voltaje:</strong> Algunas RAM tienen diferentes perfiles
              de voltaje. Un voltaje más bajo puede consumir menos energía.
            </li>
          </ul>

          <p>
            Al incrementar la capacidad de la RAM, el sistema puede manejar más
            datos y aplicaciones simultáneamente, lo que mejora el rendimiento
            en tareas intensivas. Sin embargo, añadir más RAM puede no mejorar
            significativamente el rendimiento si el resto del sistema no lo
            acompaña. Por otro lado, quitar RAM puede limitar la capacidad del
            sistema para ejecutar múltiples aplicaciones o tareas complejas al
            mismo tiempo.
          </p>
        </div>
      </section>
      <section>
        <h2 class="mt-3">
          <img
            src="https://talius.tech/gaming/wp-content/uploads/sites/2/2021/04/fuente-alimentacion-700w-500x500-1.png"
            alt="PSU"
            class="component-image"
          />
          Fuente de alimentación (PSU)
          <button
            class="btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#psuCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Fuente de alimentación (PSU)"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="psuCollapse">
          <p>
            La fuente de alimentación (PSU) es un componente fundamental que
            proporciona energía eléctrica a todos los demás componentes del
            sistema. A continuación, se detallan sus principales atributos y los
            beneficios asociados a cada característica:
          </p>
          <ul>
            <li>
              <strong>Potencia Nominal (Wattage):</strong>
              Especifica la capacidad máxima de salida de la PSU en vatios. -
              Una PSU con mayor potencia puede alimentar sistemas más exigentes
              y futuras expansiones.
            </li>
            <li>
              <strong>Eficiencia Energética (Efficiency Rating):</strong>
              Indica la eficiencia con la que la PSU convierte la corriente
              alterna en corriente continua. - PSU con mayor eficiencia reducen
              el desperdicio de energía y generan menos calor.
            </li>
            <li>
              <strong>Conectores:</strong>
              Tipos y cantidad de conectores disponibles (PCIe, SATA, CPU,
              etc.). - Conectores adecuados para tus componentes garantizan una
              correcta conexión y alimentación.
            </li>
            <li>
              <strong>Modularidad:</strong>
              Describe si los cables de la PSU son modulares o fijos. - PSUs
              modulares permiten una mejor gestión de cables y facilitan el
              ensamblaje limpio del sistema.
            </li>
            <li>
              <strong>Protecciones:</strong>
              Características de seguridad como protección contra sobretensión,
              cortocircuitos, etc. - PSUs con protecciones incorporadas protegen
              tus componentes de daños eléctricos.
            </li>
            <li>
              <strong>Ruido:</strong>
              Nivel de ruido generado por la PSU durante su funcionamiento. -
              PSUs más silenciosas proporcionan una experiencia de usuario más
              tranquila.
            </li>
            <li>
              <strong>Compatibilidad:</strong>
              Compatibilidad con estándares de la industria y factores de forma.
              - PSU compatible con tu caja y placa base garantiza una
              integración adecuada en el sistema.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="mt-3">
          <img
            src="https://www.mouser.es/images/marketingid/2020/img/110657914.png?v=032024.0746"
            alt="Placas Base"
            class="component-image"
          />
          Placas Base
          <button
            class="btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#placaBaseCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Placas Base"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="placaBaseCollapse">
          <p>
            La placa base (también conocida como motherboard) es un componente
            fundamental de una computadora. A continuación se describen algunas
            características comunes de las placas base:
          </p>
          <ul>
            <li>
              <strong>Factor de Forma:</strong>
              Define las dimensiones físicas y el diseño de la placa base (por
              ejemplo, ATX, microATX, mini-ITX).
            </li>
            <li>
              <strong>Socket del Procesador:</strong>
              Especifica el tipo de socket que acepta el procesador. Los tipos
              comunes incluyen LGA 1200, AM4, etc.
            </li>
            <li>
              <strong>Slots de Expansión:</strong>
              Proporciona información sobre los slots de expansión disponibles
              (por ejemplo, PCIe x16, PCIe x1) para tarjetas de video, sonido,
              red, etc.
            </li>
            <li>
              <strong>Conectividad:</strong>
              Describe las interfaces disponibles, como USB, Ethernet, HDMI,
              DisplayPort, SATA, entre otras.
            </li>
            <li>
              <strong>Chipset:</strong>
              Especifica el chipset utilizado en la placa base, que afecta las
              funciones y capacidades del sistema.
            </li>
            <li>
              <strong>RAM Soportada:</strong>
              Indica el tipo de memoria RAM compatible con la placa base (por
              ejemplo, DDR4, DDR5) y la cantidad máxima de RAM soportada.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="mt-3">
          <img
            src="https://www.info-computer.com/modules/dbblog/views/img/uploads/2020/09/SANDISK-SSD-ULTRA-3D-SDSSDH3-1T-1024x1024.png"
            alt="SSD"
            class="component-image"
          />
          Discos de Estado Sólido (SSD)
          <button
            class="btn btn-link boton text-black"
            data-toggle="collapse"
            data-target="#ssdCollapse"
            aria-expanded="false"
            aria-controls="Contenido de Disco de Estado Sólido (SSD)"
          ></button>
          <hr />
        </h2>
        <div class="collapse" id="ssdCollapse">
          <p>
            El disco de estado sólido (SSD) es un componente esencial que
            almacena datos de forma permanente en tu sistema. A continuación, se
            detallan sus principales atributos y los beneficios asociados a cada
            característica:
          </p>
          <ul>
            <li>
              <strong>Capacidad:</strong>
              Especifica la cantidad de datos que puede almacenar el SSD. - Más
              capacidad permite almacenar más archivos y programas.
            </li>
            <li>
              <strong>Velocidad de Lectura/Escritura:</strong>
              Indica la velocidad a la que el SSD puede leer y escribir datos. -
              Una mayor velocidad mejora el rendimiento general del sistema y
              reduce los tiempos de carga.
            </li>
            <li>
              <strong>Interfaz:</strong>
              Tipo de conexión utilizada para conectar el SSD a la placa base
              (por ejemplo, SATA, NVMe). - Interfaces más modernas ofrecen un
              rendimiento más rápido.
            </li>
            <li>
              <strong>Factor de Forma:</strong>
              Tamaño físico y forma del SSD (por ejemplo, 2.5", M.2). -
              Diferentes factores de forma permiten una mayor flexibilidad de
              instalación en el sistema.
            </li>
            <li>
              <strong>Tecnología de Memoria:</strong>
              Tipo de memoria utilizada en el SSD (por ejemplo, NAND TLC, QLC).
              - Diferentes tecnologías ofrecen diferentes niveles de rendimiento
              y durabilidad.
            </li>
            <li>
              <strong>Durabilidad:</strong>
              Vida útil estimada del SSD, generalmente medida en terabytes
              escritos (TBW). - SSDs con una mayor durabilidad pueden soportar
              un uso más intensivo.
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
