header {
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}


img{
  margin-left:  90px;
  height: 75px;
  width: 75px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  font-size: 21px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: dashed;
}